assembler/__pycache__
assembler/work
simulation/work
assembler/modelsim.ini
assembler/vlog.opt
assembler/programs/dis.jasm
assembler/programs/gen.jasm
assembler/programs/out
simulation/modelsim.ini
simulation/vlog.opt
simulation/vsim.wlf
top/cpu/core.sv.bak
assembler/programs/tester.out
assembler/programs/simple_image.out
assembler/programs/fancy.dis
assembler/programs/fancy.jasm
assembler/programs/fancy.out
